body {
font-family: 'Nunito', sans-serif;  
    background-image: url(img/favicon.ico);
    background-size: cover;
    color: black;
    }
    
ul{
    font-family: 'Lobster', cursive;
  font-size: 50px;  
} 

  

    #L1{
        COLOR:white;
    }
    
    #L2{
        COLOR:white;
    }
    
