body {
font-family: 'Nunito', sans-serif;  
    background-color:blue;
    color: black;
    }
    
ul{
    font-family: 'Lobster', cursive;
    
}    
    #L1{
        COLOR:white;
    }
    
    #L2{
        COLOR:white;
    }
    
